


html {
  font-family : $font-family;
}

body {
  font-family : $font-family;
}

p {
  font-family : $font-family;
  line-height : 1.5;
  font-size : 1em;
  margin : 0 auto 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family : $font-family !important;
  line-height : 1 !important;
  margin : 0 auto 1rem !important;
  font-weight : 600 !important;
}

a,button,input,label,figcaption,blockquote,q,textarea,select,legend,form,
summary,dl,dt,dl,ol,ul,li,address {
  font-family : $font-family;
}
